.footer
  background-color: $light-grey
  padding: 20px
  text-align: center
  position: relative

  &__form
    background-color: $asbestos
    max-width: 500px
    text-align: left
    margin: 0 auto