.section{
  text-align: center;
  padding-top: 30px;

  &__title{
    color: $wet-asphalt;
    font-size: 25px;
    margin-top: 0;
  }
  &__description{
    font-weight: 300;
  }

  &--gray{
    background-color: $clouds;
  }
}