body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.container--fluid {
  max-width: calc(100% - 20px);
  margin: 20px auto 0 auto; }

.container--compact {
  max-width: 960px;
  margin: 20px auto 0 auto; }

.nav {
  border-bottom: 1px solid #e9eaed;
  background-color: #ffffff; }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block; }
  .nav__link {
    padding: 20px 10px;
    color: #6a7180;
    display: inline-block;
    text-decoration: none; }

.project {
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  margin-top: 20px; }
  .project__title {
    font-weight: 300;
    display: inline-block;
    font-size: 18px; }
  .project__user {
    display: inline-block;
    float: right;
    margin: .67em 0;
    color: #e74c3c; }
  .project__header {
    padding: 10px 20px; }
  .project__preview {
    background-color: #2c3e50;
    overflow: hidden;
    max-height: 200px; }
  .project__image {
    width: 100%; }
  .project__description {
    padding: 10px 20px; }
  .project__links {
    padding: 10px 20px; }

.header {
  background-color: red;
  border-bottom: 1px solid #2c3e50;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  justify-content: center; }
  .header__image {
    display: inline-block;
    margin: 0 auto;
    width: 100%; }
  .header__hero {
    position: absolute;
    top: 150px;
    margin: 0 auto;
    text-align: center;
    color: white; }
  .header__title {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 40px;
    font-weight: 800; }
  .header__slogan {
    font-size: 25px;
    margin-top: 50px; }

.project {
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  margin-top: 20px; }
  .project__title {
    font-weight: 300;
    display: inline-block;
    font-size: 18px; }
  .project__user {
    display: inline-block;
    float: right;
    margin: .67em 0;
    color: #e74c3c; }
  .project__header {
    padding: 10px 20px; }
  .project__preview {
    background-color: #2c3e50;
    overflow: hidden;
    max-height: 200px; }
  .project__image {
    width: 100%; }
  .project__description {
    padding: 10px 20px; }
  .project__links {
    padding: 10px 20px; }

.btn {
  text-decoration: none;
  border: none;
  background-color: white; }
  .btn--primary {
    color: #5C6BC0;
    background-color: white;
    text-transform: uppercase;
    font-size: 16px; }

.card {
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  margin-top: 20px;
  padding: 10px; }
  .card__title {
    margin-top: 0; }
  .card--fluid {
    width: 100%; }

.form__input {
  margin: 10px 0 0 0;
  outline: 0;
  line-height: 1.2142em;
  padding: .67861429em 1em;
  font-size: 1em;
  background: #FFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color .1s ease, border-color .1s ease;
  width: 100%; }
  .form__input--first {
    margin-top: 0; }

.hero {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .hero__title {
    font-size: 60px;
    color: white;
    position: absolute;
    margin: 50px auto 0 auto;
    left: 0;
    right: 0;
    max-width: 400px;
    z-index: 1; }
  .hero__image {
    width: 100%; }
  .hero__overlay {
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    height: 100%;
    width: 100%; }

.article__text {
  line-height: 1.58;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Lato', sans-serif; }

.footer {
  background-color: #fafafa;
  padding: 20px;
  text-align: center;
  position: relative; }
  .footer__form {
    background-color: #7f8c8d;
    max-width: 500px;
    text-align: left;
    margin: 0 auto; }
